BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_VFPV4=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_10=y
BR2_TARGET_GENERIC_HOSTNAME="odyssey-stm32mp157c"
BR2_TARGET_GENERIC_ISSUE="Welcome to ODYSSEY - STM32MP157C"
BR2_ROOTFS_OVERLAY="${BR2_EXTERNAL_ODYSSEY_STM32MP157C_PATH}/board/rootfs_overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="${BR2_EXTERNAL_ODYSSEY_STM32MP157C_PATH}/board/post-createfs.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="${BR2_EXTERNAL_ODYSSEY_STM32MP157C_PATH}/board/fwup.conf"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.10.83"
BR2_LINUX_KERNEL_PATCH="${BR2_EXTERNAL_ODYSSEY_STM32MP157C_PATH}/board/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="${BR2_EXTERNAL_ODYSSEY_STM32MP157C_PATH}/board/linux/linux-5.10.83-armv7-lpae-x58.defconfig"
BR2_LINUX_KERNEL_LZO=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="stm32mp157c-seeed-npi stm32mp1-seeed-ap6236-overlay stm32mp1-seeed-i2c4-overlay stm32mp1-seeed-lcd-01-overlay stm32mp1-seeed-pwm-overlay stm32mp1-seeed-spi5-overlay stm32mp1-seeed-uart7-overlay stm32mp1-seeed-usart2-overlay stm32mp1-MCP2517FD-can0-overlay"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_LIBGPIOD_TOOLS=y
BR2_PACKAGE_WIRELESS_REGDB=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_AP_SUPPORT=y
BR2_PACKAGE_WPA_SUPPLICANT_MESH_NETWORKING=y
BR2_PACKAGE_WPA_SUPPLICANT_AUTOSCAN=y
BR2_PACKAGE_WPA_SUPPLICANT_HOTSPOT=y
BR2_PACKAGE_WPA_SUPPLICANT_DEBUG_SYSLOG=y
BR2_PACKAGE_WPA_SUPPLICANT_WPS=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA3=y
BR2_PACKAGE_WPA_SUPPLICANT_CTRL_IFACE=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="128M"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2018.11"
BR2_TARGET_UBOOT_PATCH="${BR2_EXTERNAL_ODYSSEY_STM32MP157C_PATH}/board/u-boot"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="stm32mp15_basic"
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
BR2_TARGET_UBOOT_FORMAT_IMG=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="spl/u-boot-spl.stm32"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="DEVICE_TREE=stm32mp157c-dk2"
BR2_PACKAGE_HOST_FWUP=y
